Email Responder.json
{
  "name": "Email Responder",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{$json.customerEmail}}\n",
        "subject": "=Thank you for your review, {{$json.customerName || \"\"}}!\n",
        "message": "={{$json.aiReply || \"Thank you for your feedback!\"}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1264,
        32
      ],
      "id": "08ec11e0-65cb-4505-95ca-e272cb93a0e3",
      "name": "Send a message",
      "webhookId": "efe60dc3-e6de-427e-82f2-b4e506b19ad7",
      "credentials": {
        "gmailOAuth2": {
          "id": "P6BYU5JPzK3zsuC1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "aaf075a9-3088-4252-9394-c44cf090e4e1",
              "leftValue": "={{$json.isReview}}\n\n",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        128
      ],
      "id": "4893e4de-435d-4445-abd5-aa88519ba89c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1a4Av1V64aGtZVeeCD_2B5cp1KB_0qT3OFGotDA1kOdI",
          "mode": "list",
          "cachedResultName": "email Responder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4Av1V64aGtZVeeCD_2B5cp1KB_0qT3OFGotDA1kOdI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "customerName": "={{ $json.customerName }}",
            "customerEmail": "={{ $json.customerEmail }}",
            "subject": "={{ $json.subject }}",
            "reviewText": "={{ $json.reviewText }}",
            "sentiment": "={{ $json.sentiment }}",
            "aiReply": "={{ $json.aiReply }}",
            "isReview": "={{ $json.isReview }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customerName",
              "displayName": "customerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewText",
              "displayName": "reviewText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isReview",
              "displayName": "isReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aiReply",
              "displayName": "aiReply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        224
      ],
      "id": "49359612-d501-4309-a68e-a3286b0e0c0a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L5Tx4jX4VTVgo0UF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI customer review assistant. \n\nYour job:\n1. Determine if the email is a REAL customer review (contains feedback/opinion). \n2. If it is a review, classify the sentiment as Positive, Negative, or Neutral. \n3. Write a short professional reply to the customer. \n4. Always include the customerName, customerEmail, and subject exactly as provided. \n5. If the email is NOT a review (e.g., promotions, newsletters, announcements), return isReview=false and leave sentiment and reply empty. \n\nRules:\n- Ignore ads, promotions, newsletters, and other non-feedback messages.\n- Only treat messages containing opinions, feedback, or experiences as reviews.\n- Return ONLY valid JSON with **no extra text or commentary**.\n\nUse this JSON format:\n\n{\n  \"isReview\": true or false,\n  \"sentiment\": \"Positive/Negative/Neutral\",\n  \"reply\": \"Your professional reply here\",\n  \"customerName\": \"As provided\",\n  \"customerEmail\": \"As provided\",\n  \"subject\": \"As provided\"\n}\n\nInput Email Data:\nCustomer Name: {{$json.customerName}}\nCustomer Email: {{$json.customerEmail}}\nSubject: {{$json.subject}}\nMessage: {{$json.reviewText}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        -16
      ],
      "id": "10c350ef-3fcd-4906-b428-b2b0e1616e2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "d05c595f-ab7c-4b73-9ca1-90bb8eeb8171",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "m0XoajT04lwulMdh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        112
      ],
      "id": "aa40d7fa-8b37-490d-947b-91ae1fcb6aa4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "P6BYU5JPzK3zsuC1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        128
      ],
      "id": "55eb1f1f-264e-4c3e-a7d5-a8c883d1067e",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const rawText = item.json.output || \"{}\";\n\n  let parsed;\n  try {\n    parsed = JSON.parse(rawText);\n  } catch (e) {\n    parsed = {\n      isReview: false,\n      sentiment: \"Neutral\",\n      reply: \"\",\n      customerEmail: \"\"\n    };\n  }\n\n  return {\n    json: {\n      customerName: parsed.customerName || item.json.customerName || \"\",\n      customerEmail: parsed.customerEmail || item.json.customerEmail || \"\",\n\n      reviewText: item.json.original?.reviewText || \"\",\n      subject: item.json.original?.subject || \"\",\n      timestamp: item.json.original?.timestamp || \"\",\n\n      isReview: parsed.isReview === true,\n      sentiment: parsed.sentiment || \"Neutral\",\n      aiReply: parsed.reply || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        128
      ],
      "id": "8bd6b3ed-3cd5-4078-97cc-22b40941990a",
      "name": "Parser"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const fromData = item.json.from?.value?.[0] || {};\n\n  const customerEmail = fromData.address || \"\";\n  const customerName = fromData.name || customerEmail;\n\n  return {\n    json: {\n      customerName,\n      customerEmail,\n      reviewText: item.json.text || \"\",\n      subject: item.json.subject || \"\",\n      timestamp: item.json.date || \"\",\n\n      original: {\n        reviewText: item.json.text || \"\",\n        subject: item.json.subject || \"\",\n        timestamp: item.json.date || \"\"\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        112
      ],
      "id": "b5e5962e-de3e-4020-b7b9-c561e919a772",
      "name": "Function node (Extract Emai)"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Function node (Extract Emai)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function node (Extract Emai)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11a0d9c0-309c-4f4b-9b02-950b36d19aa9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9e81e7eb76ba5013692936484ecfd73af3df4483c2085f209212a9fcfca609d"
  },
  "id": "OdmWFN16DNHz27YU",
  "tags": []
}